<div>
    <p><img src="{{0.flags.svg}}" alt="" width="80"> {{0.name.official}}</p>
    <p><b>Capital:</b> {{0.capital}}</p>
    <p><b>Population:</b> {{0.population}}</p>
    <p><b>Language:</b></p><ul style="list-style: none;">{{#each 0.languages }}<li><p>{{this}}</p></li>{{/each}}</ul>
</div>